# Importing libraries

In [1]:
import numpy as np
import pandas as pd

# Reading data

In [2]:
data=pd.read_csv("city_temperature.csv")

C:\Users\mohan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Data cleaning

In [4]:

data.loc[data['Year'] == 200, ['Year']] = 2000
data.loc[data['Year'] == 201, ['Year']] = 2001

In [7]:
data=data.drop("State",axis=1)

In [9]:
data = data[data.Day != 0]

# Data subsetting

In [10]:
date_variables=data.iloc[:,3:6].values

In [11]:
dat=np.empty(shape=(len(date_variables),1),dtype=object)
np.shape(dat)

(2906319, 1)

# creating a date variable

In [12]:

for i in range(len(date_variables)):
    dat[i]=str(date_variables[i][2])+"-"+str(date_variables[i][0])+'-'+str(date_variables[i][1])

In [13]:
dat=np.reshape(dat,(2906319,))

In [15]:
new_data=pd.DataFrame({'date': dat})

In [26]:
frames=[data,new_data]
final=pd.concat(frames,axis=1)

# changing the date variable to datetime

In [27]:
final = final[final['date'].notna()]

In [29]:
final.date = pd.to_datetime(final.date, format='%Y-%m-%d')

In [30]:
final = final.set_index('date')

In [31]:
final.head()

            Region  Country     City  Month  Day    Year  AvgTemperature
date
1995-01-01  Africa  Algeria  Algiers    1.0  1.0  1995.0            64.2
1995-01-02  Africa  Algeria  Algiers    1.0  2.0  1995.0            49.4
1995-01-03  Africa  Algeria  Algiers    1.0  3.0  1995.0            48.8
1995-01-04  Africa  Algeria  Algiers    1.0  4.0  1995.0            46.4
1995-01-05  Africa  Algeria  Algiers    1.0  5.0  1995.0            47.9

# cleaning the missing value to impute and removing the dupicated values

In [32]:
final.loc[final['AvgTemperature'] == -99.0, ['AvgTemperature']] = np.nan

In [34]:
final[final.duplicated(['Month','Day','Year'], keep=False)]

,Region,Country,City,Month,Day,Year,AvgTemperature
date,,,,,,,
1995-01-01,Africa,Algeria,Algiers,1.0,1.0,1995.0,64.2
1995-01-02,Africa,Algeria,Algiers,1.0,2.0,1995.0,49.4
1995-01-03,Africa,Algeria,Algiers,1.0,3.0,1995.0,48.8
1995-01-04,Africa,Algeria,Algiers,1.0,4.0,1995.0,46.4
1995-01-05,Africa,Algeria,Algiers,1.0,5.0,1995.0,47.9
...,...,...,...,...,...,...,...
2013-07-27,North America,US,San Juan Puerto Rico,7.0,19.0,2013.0,81.6
2013-07-28,North America,US,San Juan Puerto Rico,7.0,20.0,2013.0,83.4
2013-07-29,North America,US,San Juan Puerto Rico,7.0,21.0,2013.0,82.8
2013-07-30,North America,US,San Juan Puerto Rico,7.0,22.0,2013.0,80.9
2013-07-31,North America,US,San Juan Puerto Rico,7.0,23.0,2013.0,83.1

# Imputing the missing values using the interpolate using the time method

In [36]:
final = final.assign(AvgTemperature=final.AvgTemperature.interpolate(method='time'))

In [ ]:
final.isna().sum()

In [38]:
final = final[final['Country'].notna()]

In [42]:
final.reset_index(inplace=True)

In [47]:
final=final.drop('date',axis=1)

# Saving the cleaned data for modelling

In [49]:
final.to_csv("imputed_data.csv")

# Saving the 2020_data

In [76]:
data_actual2020=final[final['Year']==2020]

In [79]:
data_actual2020.shape

(38810, 7)

# Saving the 2020_data for prediction

In [1]:
data_2020.loc[data_2020['Year'] == 2019, ['Year']] = 2020

NameError: name 'data_2020' is not defined

In [70]:
data_2020=data_2020.iloc[:,0:7]

In [80]:
data_actual2020.to_csv("data_actual2020.csv")