In [1]:
import numpy as np
import pandas as pd

In [95]:
data=pd.read_csv("city_temperature.csv")

C:\Users\mohan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [116]:
data.shape

(2906319, 7)

In [113]:
data['Day'].value_counts()

3     95671
4     95670
5     95668
6     95668
7     95668
8     95668
9     95668
10    95667
11    95662
12    95659
2     95658
1     95651
13    95631
15    95371
14    95370
17    95367
19    95367
16    95367
18    95366
20    95364
21    95364
22    95364
26    95360
23    95359
24    95359
28    95359
25    95358
27    95358
29    89382
30    87350
31    55525
0         8
Name: Day, dtype: int64

In [99]:
data.loc[data['Year'] == 200, ['Year']] = 2000

In [100]:
data.loc[data['Year'] == 201, ['Year']] = 2001

In [9]:
data.isna().sum()

Region            0
Country           0
City              0
Month             0
Day               0
Year              0
AvgTemperature    0
dtype: int64

In [102]:
data=data.drop("State",axis=1)

In [115]:
data = data[data.Day != 0]

In [11]:
data["AvgTemperature"].value_counts()

-99.0    79672
 80.2     7442
 80.8     7362
 81.1     7247
 79.2     7241
         ...
-39.3        1
-46.9        1
-43.4        1
-35.4        1
-40.0        1
Name: AvgTemperature, Length: 1517, dtype: int64

In [158]:
date_variables=data.iloc[:,3:6].values

In [159]:
dat=np.empty(shape=(len(date_variables),1),dtype=object)
np.shape(dat)

(2906319, 1)

In [162]:

for i in range(len(date_variables)):
    dat[i]=str(date_variables[i][2])+"-"+str(date_variables[i][0])+'-'+str(date_variables[i][1])

In [163]:
dat=np.reshape(dat,(2906319,))

In [164]:
np.shape(dat)

(2906319,)

In [165]:
new_data=pd.DataFrame({'date': dat})

In [177]:
frames=[data,new_data]
final=pd.concat(frames,axis=1)

US                   1455329
Canada                 74245
Australia              46330
China                  46329
India                  37063
                      ...
Guyana                  5065
Israel                  4641
Burundi                 4543
Georgia                 4378
Serbia-Montenegro       3427
Name: Country, Length: 125, dtype: int64

In [191]:
final.isna().sum()

Region                8
Country               8
City                  8
Month                 8
Day                   8
Year                  8
AvgTemperature    79672
dtype: int64

In [188]:
final.date = pd.to_datetime(final.date, format='%Y-%m-%d')

In [189]:
final = final.set_index('date')

In [143]:
subset=final.iloc[0:50000,:]

In [144]:
subset[0:5]

            Region  Country     City  Month  Day    Year  AvgTemperature
date
1995-01-01  Africa  Algeria  Algiers    1.0  1.0  1995.0            64.2
1995-01-02  Africa  Algeria  Algiers    1.0  2.0  1995.0            49.4
1995-01-03  Africa  Algeria  Algiers    1.0  3.0  1995.0            48.8
1995-01-04  Africa  Algeria  Algiers    1.0  4.0  1995.0            46.4
1995-01-05  Africa  Algeria  Algiers    1.0  5.0  1995.0            47.9

In [145]:
subset.loc[subset['AvgTemperature'] == -99.0, ['AvgTemperature']] = np.nan

C:\Users\mohan\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [152]:
subset.isna().sum()

Region             0
Country            0
City               0
Month              0
Day                0
Year               0
AvgTemperature     0
InterpolateTime    0
dtype: int64

In [151]:
subset = subset.assign(AvgTemperature=subset.AvgTemperature.interpolate(method='time'))

In [149]:
write.csv("subset.csv",subset)

NameError: name 'write' is not defined

In [192]:
final.head()

            Region  Country     City  Month  Day    Year  AvgTemperature
date
1995-01-01  Africa  Algeria  Algiers    1.0  1.0  1995.0            64.2
1995-01-02  Africa  Algeria  Algiers    1.0  2.0  1995.0            49.4
1995-01-03  Africa  Algeria  Algiers    1.0  3.0  1995.0            48.8
1995-01-04  Africa  Algeria  Algiers    1.0  4.0  1995.0            46.4
1995-01-05  Africa  Algeria  Algiers    1.0  5.0  1995.0            47.9

In [190]:
final.loc[final['AvgTemperature'] == -99.0, ['AvgTemperature']] = np.nan

In [193]:
final = final.assign(AvgTemperature=subset.AvgTemperature.interpolate(method='time'))

ValueError: cannot reindex from a duplicate axis

In [ ]:
final.isna().sum()

mithun